<div data-concept-proposal-modal-edit="overview.platform-information.proposed-platforms.edit" data-instance="conceptProposalControllerReviewEdit.instance">
    <!-- End Regional Availability-->
    <div ng-controller="indicativeInformationEditController as indicativeInformationEditController">
        <fieldset ng-disabled="true">
            <div data-concept-proposal-row-field-edit="proposal.regions">
                <div data-shared-checkbox="indicativeInformationEditController.config.regions"></div>
            </div>
        </fieldset>
        <div concept-proposal-row-field-edit="proposal.targetAge">
            <div shared-dropdown="indicativeInformationEditController.config.age"></div>
        </div>
    </div>
    <div>
