<div class="container">
    <div id="cards" class="row">
            <div class="row section1">
                <div class="col-sm-12 text-center">
                    <h2>
                        Beautiful, personalised cards
                    </h2>
                    <div>
                        <p>Touchnote is the easiest way to turn your photos into real, printed cards. No stamps and no post office required!</p>
                        <p>We’ve already sent over 6 million cards worldwide, each one printed on thick, premium card. We laminate all of your postcards to ensure your photos look their absolute best, and all your greeting cards are sent in premium quality envelopes.</p>
                        <p>We take a lot of time, care and attention to print and post each of your cards, but it takes less than a minute to send one!</p>
                    </div>
                </div>
            </div>

            <div class="row text-center section1-1">
                <!-- <img src="/assets/images/ourcards/cards_top.png" /> -->
            </div>
        
            <div class="row text-center section2">
                <div class="col-sm-12">
                    <h4>
                        How it works:
                    </h4>
                    <div class="list">
                        <ul>
                            <li>Choose up to 6 photos for your card</li>
                            <li>Write your message and add your address</li>
                            <li>We print and post it within 1 working day</li>
                            <li>Free worldwide postage included</li>
                            <li>Each card is covered by our Happiness Guarantee</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row text-center section3" >
                
                <!-- column 1 -->
                <div class="col-sm-6 text-center">
                    <div class="col-sm-12 margin-bottom-20">
                        <div class="cards_pc"></div>
                    </div>
                    <div class="col-sm-12">
                        <h4 class="text-center">
                            Shiny, glossy postcards
                        </h4>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">
                                <p>
                                    Quickly and easily turn your photos into a real 6” x 4” postcard, printed on thick card and carefully laminated.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 hidden-xs ">
                        <div class="row">
                            <button ng-click="startCard('PC')" class="btn btn-lg btn-pink start-button">Start a postcard </button>
                        </div>
                    </div>
                </div>

                <!-- column 2 -->
                <div class="col-sm-6 text-center">
                    <div class="col-sm-12 margin-bottom-20">
                        <div class="cards_gc"></div>
                    </div>
                    <div class="col-sm-12">
                        <h4 class="text-center">
                            Gorgeous greeting cards
                        </h4>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">
                                <p>
                                    Send your photos on a real 7” x 5” greeting card, tucked in a premium quality envelope - perfect for special occasions.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 hidden-xs ">
                        <div class="row">
                            <button ng-click="startCard('GC')" class="btn btn-lg btn-blue start-button">Start a greeting card</button>
                        </div>
                    </div>
                </div>

            </div>
        
        </div>
</div>