<!-- THIS SECTION IS DE-SCOPED SO NO NEED TO DEVELOP THIS -->
<div class="content-area concept-overview-content"> 
    <!-- content area for Developers and Publishers Involved -->
    <h2 class="h2">Developers and Publishers Involved</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis error, asperiores omnis laudantium sapiente consectetur doloribus atque maiores voluptas unde minus reiciendis necessitatibus quae magni, architecto, ipsam animi labore sunt.</p>
    <a class="btn btn-tertiary" href="#">Edit</a>
    <div class="form-group">
        <div class="dropdown">

            <span class="control-label span-label">Add Developer or Publisher</span>
            <button class="btn dropdown-toggle add-new-popover" type="button" id="dropdownFranchise" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Please Select existing partners or add a new one
                <i class="fa fa-angle-down pull-right"></i>
            </button>
            <ul class="dropdown-menu searchable offset-alt" aria-labelledby="dropdownFranchise">
                <li class="search-area">
                    <i class="fa fa-search search-icon"></i>
                    <label for="partnerSearch" class="sr-only">Search</label>
                    <input id="partnerSearch" type="search" class="form-control" name="searchList" placeholder="Search">
                    <button type="button" class="fa fa-close btn-clear"><span class="sr-only">Clear</span></button>
                </li>
                <li class="button-wrapper">
                    <button type="button" class="btn btn-tertiary" data-toggle="modal" data-target="#addNewPartner">Add New Partner</button>
                </li>
                <li class="results">
                    <ul>
                        <li><a href="#">Partner 1</a></li>
                        <li><a href="#">Partner 2</a></li>
                        <li><a href="#">Partner 3</a></li>
                        <li><a href="#">Partner 4</a></li>
                        <li><a href="#">Partner 5</a></li>
                        <li><a href="#">Partner 6</a></li>
                        <li><a href="#">Partner 7</a></li>
                        <li><a href="#">Partner 8</a></li>
                        <li><a href="#">Partner 9</a></li>
                        <li><a href="#">Partner 10</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <table class="table table-striped table-alt table-hover-option">
        <thead>
            <tr>
                <th id="partnerName">Partner</th>
                <th id="role">Role</th>
                <th id="platforms">Platforms</th>
                <th id="distChannel">Distribution Channel</th>
                <th id="countries">Countries</th>
                <th id="devAndPublisherEdit"><span class="sr-only">Edit</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td headers="devAndPublisherFooter partnerName"><span>Business Name Ltd</span></td>
                <td headers="devAndPublisherFooter role"><span>Publisher</span></td>
                <td headers="devAndPublisherFooter platforms"><span class="label label-active">PS4</span><span class="label label-disabled">PS3</span><span class="label label-disabled">VITA</span></td>
                <td headers="devAndPublisherFooter distChannel"><span>Digital</span></td>
                <td headers="devAndPublisherFooter countries"><span>EFIGS, Poland</span></td>
                <td headers="devAndPublisherFooter devAndPublisherEdit"><span><a href="#" class="btn btn-tertiary btn-option pull-right">Edit</a></span></td>
            </tr>
            <tr>
                <td headers="devAndPublisherFooter partnerName"><span>Business Name Ltd</span></td>
                <td headers="devAndPublisherFooter role"><span>Publisher</span></td>
                <td headers="devAndPublisherFooter platforms"><span class="label label-disabled">PS4</span><span class="label label-active">PS3</span><span class="label label-disabled">VITA</span></td>
                <td headers="devAndPublisherFooter distChannel"><span>Digital</span></td>
                <td headers="devAndPublisherFooter countries"><span>EFIGS, Poland</span></td>
                <td headers="devAndPublisherFooter devAndPublisherEdit"><span><a href="#" class="btn btn-tertiary btn-option pull-right">Edit</a></span></td>

            </tr>
            <tr>
                <td headers="devAndPublisherFooter partnerName"><span>Business Name Ltd</span></td>
                <td headers="devAndPublisherFooter role"><span>Publisher</span></td>
                <td headers="devAndPublisherFooter platforms"><span class="label label-active">PS4</span><span class="label label-disabled">PS3</span><span class="label label-disabled">VITA</span></td>
                <td headers="devAndPublisherFooter distChannel"><span>Digital</span></td>
                <td headers="devAndPublisherFooter countries"><span>EFIGS, Poland</span></td>
                <td headers="devAndPublisherFooter devAndPublisherEdit"><span><a href="#" class="btn btn-tertiary btn-option pull-right">Edit</a></span></td>

            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th id="devAndPublisherFooter" colspan="6"><span class="sr-only">End of Table</span></th>
            </tr>
        </tfoot>
    </table>
</div>