<div class="header-primary">
    <div class="nav navbar">
        <div class="container">
            <div class="content-pipeline-head row">
                <div class="col-xs-6">
                    <div class="ps-logo">
                        <img alt="PSlogo" class="img-responsive float-left" src="../../../sonycp/dist/assets/images/PS-logo-w2.png"> <a class="float-right pipeline-selector" href="#"><span>Content Pipeline</span><span aria-hidden="true" class="fa fa-chevron-down"></span></a>
                    </div>
                </div>
                <div class="col-xs-6 content-pipeline-user-area">
                    <ul class="list-inline pull-right">
                        <li class="active">
                            <div notification-local></div>
                        </li>
                        <li>
                            <a aria-label="Help" href="#"><span class="sr-only">Help</span> <span aria-hidden="true" class="fa fa-question-circle icon"></span></a>
                        </li>
                        <li>
                            <a aria-label="User" class="user-setting" href="#">
                                <span aria-hidden="true" class="fa fa-user icon"></span> 
                                <span class="user">{{conceptProposalControllerHeader.user.userName()}}</span> 
                                <span aria-hidden="true" class="fa fa-chevron-down"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-pipeline-nav">
                <ul class="list-inline">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="active">
                        <a href="#">Concepts</a>
                    </li>
                    <li>
                        <a href="#">Reports</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
