<div class="row">
    <div class="col-xs-12">
        <h2>Other Publishers and Developers Involved</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
    </div>
</div>

<div concept-proposal-row-field="partnerRoles">
    <div shared-dropdown="conceptProposalControllerInformationPartner.list"
        first-item="conceptProposalControllerInformationPartner.add"></div>
</div> 
