<div data-concept-proposal-modal-edit="overview.platform-information.proposed-platforms.edit"
     data-instance="conceptProposalControllerReviewEdit.instance">

     <div ng-controller="platformExclusiveContentEditController as platformExclusiveContentEditController">
         <div concept-proposal-row-field-edit="{{platformExclusiveContentEditController.fields.exclusiveAtLaunch}}">
            <div shared-radio="platformExclusiveContentEditController.field"></div>
        </div>
    </div>

</div>
