<div class="modal-header">
    <button type="button" class="close" aria-label="Close" data-ng-click="confirmActionController.close()">
        <span class="fa fa-close" aria-hidden="true"></span>
        <span class="sr-only">Close Button</span>
    </button>
    <h2 class="modal-title" message-bundle="productGroup.register.otherProductType.confirmation.title"></h2>
</div>
<div class="modal-body">
    <p message-bundle="productGroup.register.otherProductType.confirmation.body"></p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-ng-click="confirmActionController.confirm()" message-bundle="productGroup.register.otherProductType.confirmation.confirmButton"></button>
    <button type="button" class="btn btn-link modal-dismiss" data-ng-click="confirmActionController.close()" message-bundle="productGroup.register.otherProductType.confirmation.cancelButton"></button>
</div>
