<div id="forgottenPasswordForm" class="tnModal">
    
    <div class="row">
        <div class="tips">We'll email you a link to reset your password.</div>
        <div ng-show="vm.errorMessage || vm.successMessage" 
             ng-class="{ message: true, error: vm.errorMessage, success: vm.successMessage }">{{ vm.message }}</div>
        
        <form name="vm.forgottenPassword" role="form" class="resetPass" novalidate>
            <div class="col-sm-12">
                <div class="input-group">
                    <input  tabindex="15" type="text" 
                            ng-model="vm.forgottenPassword.email" 
                            maxlength="50" 
                            required touch-note-input
                            ng-pattern="vm.pattern.email"
                            name="Email" 
                            ng-class="{error: vm.forgottenPassword.validated && vm.forgottenPassword.Email.$error.required}"/>

                    <label placeholder="Email" alt="Email"></label>
                </div>
            </div>
            <div class="col-sm-12">
                <button type="submit" class="btn btn-blue btn-lg btn-block" ng-click="forgottenPassword()">
                    <i ng-show="spinButton" class="fa fa-refresh fa-spin fa-spinner"></i>
                    Reset password
                </button>
            </div>
            <div class="col-sm-12">
                <p class="special margin-bottom-0">Back to <a tabindex="16" href="javascript:void(0)" ui-sref="top.authentication.signIn">Sign in</a></p>
            </div>
        </form>
    </div>
</div>