<div class="nav navbar">
    <div class="container">
        <h1 class="h2 concept-header"><img src="/sonycp/dist/assets/images/PS-logo-sm.png" class="brand-logo" alt="PlayStation">Register Full Game
            <a href="" data-ui-sref="index.concept.listing"><i class="fa fa-close pull-right close-button" aria-hidden="true"></i></a>
        </h1>
    </div>
</div>
<div class="submission-form">
<div class="container">
    <div class="row">
        <hr class="nav-divider">
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="intro-container">
                <p>
                    <a href=""  cp-confirm-action-modal title="Select Different Product Type" >
                    <i class="fa fa-chevron-left"></i>
                    <span message-bundle="productGroup.register.otherProductType.label"></span>
                    </a>
                </p>
                <p message-bundle="productGroup.register.information.body"></p>
            </div>
        </div>
    </div>
</div>
<div>
