<!-- menu header -->
<div class="nav navbar">
  <div class="container">
    <h1 class="h2 concept-header"><img src="/sonycp/dist/assets/images/PS-logo-sm.png" class="brand-logo" alt="PlayStation">
      Register Product Group
        <a data-ui-sref="index.concept.listing">
          <i class="fa fa-close pull-right close-button" aria-hidden="true"></i>
        </a>
    </h1>
  </div>
</div>

<!-- header copy -->
<div class="primary-nav-details-alt">
    <div class="container">
      <p class="contextual-copy">Select the Product Type you wish to create. You can tell us about language and platform variations on the next screen.
        <a href="#">Learn more about Product Group Types.</a>
      </p>
    </div>
</div>
